.about__item {
    .inner {
        display: flex;
        align-items: center;
        position: relative;
        width: $fullwidth;
        padding: $com-spacing-6;
        padding-right: 200px;
        border-radius: 15px;
        background: $ofwhite;
        overflow: hidden;
        @media (max-width: 999px) {
            display: block;
            padding-right: $com-spacing-7;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 192px;
            height: $fullwidth;
            background: $dark url(../images/bg.png) no-repeat center center/cover;
            @media (max-width: 999px) {
                width: 22px;
            }
        }
        .photo {
            @include flex;
            min-width: 400px;
            max-width: 400px;
            height: 400px;
            margin-left: $com-spacing-6;
            @media (max-width: 999px) {
                min-width: $fullwidth;
                max-width: $fullwidth;
                height: auto;
                margin: $zero;
                margin-bottom: $com-spacing-6;
            }
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            @media (max-width: 999px) {
                text-align: center;
            }
        }
        p {
            margin-top: $com-spacing-2;
            @media (max-width: 999px) {
                text-align: center;
            }
        }
    }
    &.csu-style {
        .inner {
            padding-right: 200px;
            @media (max-width: 999px) {
                padding-right: $com-spacing-7;
            }
            .subitem {
                width: 50%;
                padding: $zero $com-spacing-8;
                @media (max-width: 999px) {
                    width: $fullwidth;
                    padding: $zero;
                    margin-bottom: $com-spacing-6;
                    &:last-child {
                        margin: $zero;
                    }
                }
                .bold {
                    font-size: 25px;
                    @media (max-width: 999px) {
                        display: block;
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.participating__item {
    background: $white;
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-6;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        position: relative;
        border-radius: 10px;
        padding: $com-spacing-4;
        padding-right: $com-spacing-7;
        background: $white;
        border: 1px solid $dark;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 22px;
            height: $fullwidth;
            background: $dark url(../images/bg.png) no-repeat center center/cover;
        }
        .title {
            font-size: 20px;
            font-weight: 700;
        }
        p {
            margin-top: $com-spacing-1;
        }
    }
}

.sectors__item {
    margin-top: $com-spacing-6;
    background: $white;
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 192px;
        height: $fullwidth;
        background: url(../images/bg2.png) no-repeat center center/cover;
        @media (max-width: 999px) {
            width: 100px;
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-8;
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        &:last-child {
            display: flex;
            align-items: flex-end
        }
        .bottom {
            width: 262px;
            height: 128px;
            background: #F0F3E7;
            color: $dark;
            font-size: 25px;
            font-weight: 700;
            @media (max-width: 767px) {
                width: $fullwidth;
                height: auto;
                font-size: 18px;
            }
            &:hover {
                background: $dark;
                color: $white;
            }
        }
        .icon {
            @include flex;
            height: 105px;
            svg {
                max-width: 105px;
                max-height: 105px;
            }
        }
        .title {
            text-align: center;
            margin-top: $com-spacing-3;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.whyparticipate__item {
    margin-top: $com-spacing-6;
    background: $ofwhite url(../images/whyparticipate.png) no-repeat center center/cover;
    .container {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            display: block;
        }
    }
    .photo {
        @include flex;
        min-width: 550px;
        max-width: 550px;
        height: 550px;
        @media (max-width: 999px) {
            min-width: $fullwidth;
            max-width: $fullwidth;
            height: auto;
            margin-top: $com-spacing-6;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
        }
    }
    .title {
        @media (max-width: 999px) {
            text-align: center;
        }
    }
    p {
        margin-top: $com-spacing-3;
        max-width: 70%;
        @media (max-width: 999px) {
            text-align: center;
            max-width: $fullwidth;
        }
    }
}

.goals__item {
    min-height: 500px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    .photo {
        position: absolute;
        left: $zero;
        top: $zero;
        width: 600px;
        height: $fullwidth;
        overflow: hidden;
        @media (max-width: 999px) {
            position: relative;
            width: $fullwidth;
            height: auto;
            top: auto;
            border-radius: $zero;
            border: $zero;
            text-align: center;
            margin-top: $com-spacing-6;
        }
        @media (min-width:1600px) {
            width: 800px;
        }
        img {
            width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 999px) {
                width: initial;
                max-height: $fullwidth;
                max-width: $fullwidth;
            }
        }
    }
    .item {
        max-width: 44%;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
    }
    .title {
        display: flex;
        align-items: center;
        svg {
            margin-left: $com-spacing-2;
            max-width: 80px;
        }
        @media (max-width: 999px) {
            text-align: center;
        }
    }
    .list {
        margin-top: $com-spacing-6;
        li {
            display: flex;
            margin-top: $com-spacing-3;
            svg {
                min-width: 25px;
                max-width: 25px;
                height: 25px;
                margin-left: $com-spacing-2;
            }
        }
    }
}

.about__expo__item {
    min-height: 1000px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    .item {
        max-width: 44%;
        border-right: 1px solid #00423959;
        margin-right: 30px;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
        .flex {
            display: flex;
            margin-bottom: $com-spacing-8;
            svg {
                min-width: 60px;
                max-width: 60px;
                height: 60px;
                background: #F8F8F8;
                padding: $com-spacing-2 $zero;
                margin: $zero -30px $zero $com-spacing-6;
                @media (max-width: 999px) {
                    margin-left: $com-spacing-3;
                }
            }
            &:last-child {
                margin: $zero;
            }
            &:first-child {
                svg {
                    min-width: 128px;
                    max-width: 128px;
                    height: 128px;
                    margin: $zero -64px $zero $com-spacing-6;
                    @media (max-width: 999px) {
                        min-width: 60px;
                        max-width: 60px;
                        height: 60px;
                        margin: $zero -30px $zero $com-spacing-3;
                    }
                }
            }
        }
    }
    .container {
        z-index: 10;
    }
    .photo {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: $zero;
        top: $zero;
        width: $fullwidth;
        height: $fullwidth;
        padding: $com-spacing-8 $zero;
        overflow: hidden;
        @media (max-width: 1199px) {}
        @media (max-width: 999px) {
            // position: relative;
            // width: $fullwidth;
            // height: auto;
            // top: auto;
            // border-radius: $zero;
            // border: $zero;
            // text-align: center;
            // margin-top: $com-spacing-6;
            display: none;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 1199px) {
                max-width: 60%;
            }
            @media (max-width: 999px) {}
        }
    }
    .title {}
    .list {
        margin-top: $com-spacing-3;
        li {
            display: flex;
            margin-top: $com-spacing-3;
            svg {
                min-width: 25px !important;
                max-width: 25px !important;
                height: 25px !important;
                margin: $zero !important;
                margin-left: $com-spacing-2 !important;
                padding: $zero !important;
            }
        }
    }
}

.participate__expo__item {
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-6;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        position: relative;
        border-radius: 10px;
        padding: $com-spacing-6;
        padding-bottom: $com-spacing-7;
        background: $white;
        border: 1px solid $dark;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: $zero;
            bottom: $zero;
            width: $fullwidth;
            height: 22px;
            background: $dark url(../images/participate.png) no-repeat center center/cover;
        }
        .photo {
            @include flex;
            width: $fullwidth;
            height: 250px;
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            font-size: 26px;
            text-align: center;
            margin-top: $com-spacing-3;
        }
        p {
            margin-top: $com-spacing-1;
            text-align: center;
        }
    }
}

.contact-item,
.book-item {
    .inner {
        display: grid;
        grid-template-columns: 490px 1fr;
        min-height: 800px;
        @media (max-width: 1199px) {
            grid-template-columns: 390px 1fr;
        }
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            min-height: 400px;
        }
        .item {
            position: relative;
            background: $dark;
            padding-top: 100px;
            border-radius: 0px 20px 20px 0px;
            overflow: hidden;
            @media (max-width: 999px) {
                border-radius: 20px 20px 0px 0px;
            }
            &::before {
                content: "";
                position: absolute;
                left: $zero;
                top: $zero;
                width: $fullwidth;
                height: 100px;
                background: $dark url(../images/contact.png) no-repeat top center/cover;
                border-bottom: 1px solid #c5c5c524;
            }
            .title,
            p {
                color: $white;
            }
            .information {
                margin-top: $com-spacing-3;
                padding-top: $com-spacing-6;
                border-top: 1px solid #FFFFFF33;
                li {
                    display: flex;
                    align-items: center;
                    color: $white;
                    margin-bottom: $com-spacing-2;
                    &:last-child {
                        margin: $zero;
                    }
                    a {
                        color: $white;
                        direction: ltr;
                        @include transition(all 0.5s ease-in-out 0s);
                        &:hover {
                            color: $beige;
                        }
                    }
                }
            }
            .photo {
                width: $fullwidth;
                margin-top: $com-spacing-8;
                @media (max-width: 999px) {
                    display: none;
                }
                img {
                    max-width: $fullwidth;
                }
            }
        }
        .itemform {
            display: flex;
            align-items: center;
            padding: $com-spacing-6;
            background: $white;
            border-radius: 20px 0px 0px 20px;
            @media (max-width: 999px) {
                border-radius: 0px 0px 20px 20px;
            }
            .feild {
                margin-bottom: $com-spacing-8;
                @media (max-width: 999px) {
                    margin-bottom: $com-spacing-6;
                }
                &:last-child {
                    margin: $zero;
                }
                label {
                    font-size: 18px;
                    margin-bottom: $com-spacing-2;
                    @media (max-width: 999px) {
                        font-size: 16px;
                    }
                }
            }
            .form-control {
                border: 1px solid #9DA4AE;
                background: $white;
                &:focus {
                    border: 1px solid $dark;
                }
            }
            select.form-control {
                -webkit-appearance: none;
                background: $white url(../images/arrow.svg) no-repeat;
                background-position: $com-spacing-3 $com-spacing-4;
            }
            .answer {
                display: flex;
                align-items: center;
                .che-box {
                    margin-left: $com-spacing-5;
                    &:last-child {
                        margin-left: $zero;
                    }
                }
            }
            .title {
                font-size: 20px;
            }
            p {
                color: #64748B;
                font-size: 12px;
                font-weight: 400;
            }
            .bottom {
                width: $fullwidth;
                border-radius: 8px;
            }
            .upload-btn {
                background: $dark;
                color: $white;
                padding: $com-spacing-2 $com-spacing-5;
                border-radius: 8px;
                @include transition(all 0.5s ease-in-out 0s);
                cursor: pointer;
            }
            .upload-btn:hover {
                background-color: $beige;
            }
            input[type="file"] {
                display: none;
            }
            .file-info {
                display: inline-flex;
                align-items: center;
                margin-right: $com-spacing-3;
            }
            .remove-file {
                @include flex;
                background: $red;
                color: $white;
                border: none;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                cursor: pointer;
                margin-right: $com-spacing-2;
            }
            img.preview {
                display: block;
                margin-top: $com-spacing-3;
                max-width: 200px;
                border: 1px solid #ccc;
                border-radius: 8px;
            }
        }
    }
}

.book-item {
    .inner {
        .item {
            .photo {
                position: absolute;
                bottom: $zero;
                left: $zero;
                width: $fullwidth;
            }
        }
    }
}

.visitors__item {
    min-height: 1000px;
    margin-bottom: -24px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 192px;
        height: $fullwidth;
        background: url(../images/bg2.png) no-repeat center center/cover;
        @media (max-width: 999px) {
            width: 100px;
        }
    }
    .flex {
        display: flex;
        max-width: 90%;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
        svg {
            min-width: 60px;
            max-width: 60px;
            height: 60px;
            margin-left: $com-spacing-3;
            @media (max-width: 999px) {}
        }
    }
    .item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-6;
        padding: $zero 72px;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            padding: $zero;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .list {
            margin-top: $com-spacing-6;
            li {
                display: flex;
                margin-top: $com-spacing-3;
                svg {
                    min-width: 25px;
                    max-width: 25px;
                    height: 25px;
                    margin-left: $com-spacing-2;
                }
            }
        }
    }
    .container {
        z-index: 10;
    }
    .photo {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: $zero;
        top: $zero;
        width: $fullwidth;
        height: $fullwidth;
        padding: $com-spacing-8 $zero;
        overflow: hidden;
        @media (max-width: 1199px) {}
        @media (max-width: 999px) {
            // position: relative;
            // width: $fullwidth;
            // height: auto;
            // top: auto;
            // border-radius: $zero;
            // border: $zero;
            // text-align: center;
            // margin-top: $com-spacing-6;
            display: none;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 1199px) {
                max-width: 60%;
            }
            @media (max-width: 999px) {}
        }
    }
    .title {}
    .list {
        margin-top: $com-spacing-3;
        li {
            display: flex;
            margin-top: $com-spacing-3;
            svg {
                min-width: 25px !important;
                max-width: 25px !important;
                height: 25px !important;
                margin: $zero !important;
                margin-left: $com-spacing-2 !important;
                padding: $zero !important;
            }
        }
    }
}

.targeted__item {
    .box {
        position: relative;
        border-radius: 30px;
        padding: $com-spacing-8;
        padding-right: 150px;
        margin-top: $com-spacing-8;
        overflow: hidden;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
            padding: $com-spacing-4;
            padding-right: 56px;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 85px;
            border-left: 1px solid #ffffff30;
            height: $fullwidth;
            background: url(../images/bg.png) no-repeat center center/cover;
            @media (max-width: 999px) {
                width: 40px;
            }
        }
        &:nth-child(odd) {
            background-color: $dark;
        }
        &:nth-child(even) {
            background: $white;
            border: 1px solid $dark;
            &::before {
                border-left: 1px solid #F1F1F1;
                background: url(../images/bg4.png) no-repeat center center/cover;
                @media (max-width: 999px) {}
            }
            .box-header {
                border-bottom: 1px solid #A1A1A1;
                .title {
                    color: $dark;
                }
            }
            .item {
                .list {
                    li {
                        color: $dark;
                    }
                }
            }
        }
        .box-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #DAEF9A33;
            padding-bottom: $com-spacing-6;
            @media (max-width: 999px) {
                padding-bottom: $com-spacing-4;
            }
            .title {
                color: $white;
                font-size: 30px;
                font-weight: 700;
                @media (max-width: 999px) {
                    font-size: 24px;
                }
            }
            svg {
                min-width: 112px;
                max-width: 112px;
                max-height: 112px;
                margin-left: $com-spacing-4;
                @media (max-width: 999px) {
                    min-width: 60px;
                    max-width: 60px;
                    max-height: 60px;
                    margin-left: $com-spacing-3;
                }
            }
        }
        .item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $com-spacing-6;
            @media (max-width: 999px) {
                grid-template-columns: 1fr 1fr;
                gap: $com-spacing-3;
                padding: $zero;
                margin-top: $com-spacing-3;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            .list {
                margin-top: $com-spacing-6;
                @media (max-width: 767px) {
                    margin-top: $com-spacing-3;
                }
                li {
                    display: flex;
                    margin-top: $com-spacing-3;
                    color: $white;
                    svg {
                        min-width: 25px;
                        max-width: 25px;
                        height: 25px;
                        margin-left: $com-spacing-2;
                    }
                }
            }
        }
    }
}

.news__item {
    background: #F8F8F8;
    @media (max-width: 999px) {}
    .item {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-top: $com-spacing-6;
        }
        .inner {
            position: relative;
            width: $fullwidth;
            height: $fullwidth;
            border-radius: 24px;
            border: 1px solid #EBF0F6;
            background: $white;
            @include transition(all 0.5s ease-in-out 0s);
            box-shadow: 0px -2px 6px 0px #1F4BA014;
            overflow: hidden;
            &:hover {
                @include prefixer (box-shadow, 4px 4px 40px #00000017, webkit moz o ms);
                .photo {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 290px;
                background: $ofwhite;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 194px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                    object-position: top;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
            .innercontant {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: $com-spacing-7;
                // height: 320px;
                @media (max-width: 999px) {
                    height: auto;
                    padding: $com-spacing-5;
                }
            }
            .title {
                // display: -webkit-box;
                // -webkit-line-clamp: 2;
                // -webkit-box-orient: vertical;
                // overflow: hidden;
                font-size: 22px;
                margin-bottom: $com-spacing-3;
                color: #13182F;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // -webkit-line-clamp: inherit;
                }
                &:hover {
                    color: $dark;
                }
            }
            p {
                // display: -webkit-box;
                // -webkit-line-clamp: 3;
                // -webkit-box-orient: vertical;
                // height: 120px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: auto;
                    -webkit-line-clamp: inherit;
                    font-size: 16px;
                }
            }
            .flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: $com-spacing-7;
                @media (max-width: 500px) {}
            }
            .more {
                color: $dark;
                margin: $zero;
            }
            ul {
                @include flex;
                @media (max-width: 500px) {
                    order: -1;
                    width: $fullwidth;
                    justify-content: space-between;
                }
                li {
                    @include flex;
                    color: $dark;
                    margin-left: $com-spacing-3;
                    font-size: 18px;
                    &:last-child {
                        margin: $zero;
                    }
                    @media (max-width: 999px) {
                        font-size: 16px;
                    }
                }
                .subdes {
                    min-width: 114px;
                    padding: $com-spacing-2 $com-spacing-3;
                    border-radius: 40px;
                    background: #1a554d47;
                    color: $dark;
                }
            }
        }
    }
    .bottom {
        min-width: 254px;
        margin-top: $com-spacing-9;
        @media (max-width: 999px) {
            min-width: 164px;
            margin-top: $com-spacing-6;
        }
    }
}

.newsdetails {
    .description {
        text-align: center;
        .slogan {
            display: block;
            margin-bottom: $com-spacing-4;
            color: $orange;
        }
        ul {
            @include flex;
            margin-bottom: $com-spacing-6;
            @media (max-width: 767px) {
                display: grid;
            }
            li {
                @include flex;
                color: $blak;
                margin: $zero $com-spacing-2;
                font-size: 18px;
                @media (max-width: 999px) {
                    font-size: 16px;
                }
            }
            .subdes {
                min-width: 112px;
                padding: $com-spacing-2 $com-spacing-3;
                border-radius: 40px;
                background: #1a554d47;
                color: $dark;
                @media (max-width: 767px) {
                    order: -1;
                    margin-bottom: $com-spacing-3;
                }
            }
        }
        .title {
            text-align: center;
        }
        p {
            text-align: center;
            padding: $zero 24%;
            margin-top: $com-spacing-4;
            @media (max-width: 999px) {
                padding: $zero;
                font-size: 14px;
            }
        }
    }
    .photo {
        width: $fullwidth;
        height: 640px;
        background: $ofwhite;
        margin-top: 100px;
        border-radius: 24px;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 340px;
            margin-top: $com-spacing-6;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
            object-position: top;
        }
    }
    p {
        margin-top: $com-spacing-4;
        @media (max-width: 999px) {
            font-size: 14px;
        }
    }
    .textnews {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
        }
        .photo {
            margin: $com-spacing-6 $auto $zero $auto;
            max-width: 60%;
            height: 476px;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                height: 340px;
            }
        }
    }
}

.item-albuminner {
    background: $ofwhite;
    .slider-container {
        .slid-photos {
            direction: ltr;
            .flex-container a:hover,
            .flex-slider a:hover {
                outline: 0
            }
            .flex-control-nav,
            .flex-direction-nav,
            .slides,
            .slides>li {
                margin: 0;
                padding: 0;
                list-style: none
            }
            .flexslider {
                position: relative;
                overflow: hidden;
                // max-width: 728px;
                // @media (min-width: 1400px) {
                //     max-width: $fullwidth;
                // }
            }
            .flexslider .slides>li {
                position: relative;
                display: none;
                -webkit-backface-visibility: hidden;
                // &::after {
                //     content: "";
                //     position: absolute;
                //     inset: $zero;
                //     width: $fullwidth;
                //     height: $fullwidth;
                //     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #010133 100%);
                // }
            }
            .flexslider .slides img {
                position: relative;
                display: block;
            }
            .no-js .flexslider .slides>li:first-child {
                display: block
            }
            .flex-viewport {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;
                margin: 0 auto;
                max-width: 910px;
            }
            .carousel {
                margin: $com-spacing-6 $auto $zero $auto;
                max-width: 910px;
                // @media (max-width: 999px) {
                //     display: none;
                // }
            }
            .carousel .flex-viewport {
                padding-right: 40px;
            }
            .carousel li {
                margin: $zero $com-spacing-1 !important;
                cursor: pointer;
            }
            .flex-direction-nav a {
                text-decoration: none;
                display: block;
                width: 42px;
                height: 42px;
                margin-top: -21px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                z-index: 10;
                overflow: hidden;
                cursor: pointer;
                text-indent: -999px;
                background: $dark url(../images/arrow-wight.svg) no-repeat center center;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // display: none;
                }
            }
            .flex-direction-nav .flex-prev {
                left: $com-spacing-3;
                rotate: 180deg;
            }
            .flex-direction-nav .flex-next {
                right: $com-spacing-3;
            }
            .flex-direction-nav .flex-disabled {
                opacity: 0!important;
                cursor: default;
                z-index: -1
            }
            .flex-control-nav {
                width: 100%;
                position: absolute;
                bottom: -40px;
                text-align: center
            }
            .flex-control-nav li {
                margin: 0 6px;
                display: inline-block;
            }
            .flex-control-nav {
                display: none !important;
            }
            .flexslider .slides img {
                width: $fullwidth;
                height: 510px;
                border: 4px solid #CBCBCB;
                object-fit: cover;
                @media (max-width: 999px) {
                    height: 340px;
                }
            }
            .carousel .slides li {
                @include transition(all 0.5s ease-in-out 0s);
            }
            .carousel .slides li.flex-active-slide {
                opacity: 1;
            }
            .carousel .slides li.flex-active-slide img {
                border: 4px solid $dark;
            }
            .carousel .slides img {
                height: 115px;
                object-fit: cover;
                cursor: pointer;
                // border: 2px solid transparent;
                @include transition(all 0.5s ease-in-out 0s);
            }
            // .carousel .slides li.flex-active-slide img {
            //     border-color: $blue;
            // }
            .carousel .flex-direction-nav a {
                opacity: 0.5;
                @include transition(all 0.5s ease-in-out 0s);
            }
            .carousel:hover .flex-direction-nav a {
                opacity: 1;
            }
        }
    }
    img {
        display: block;
        border: $zero;
        width: $fullwidth;
        height: $fullwidth;
        object-fit: cover;
    }
}

.care-options {
    table {
        background: $none;
        margin: $zero;
        th {
            background: $dark;
            color: $white;
            font-weight: 500;
            padding: .7rem .7rem;
        }
        td {
            background: none;
            padding: .7rem .7rem;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .title {
            font-size: 20px;
        }
    }
    .reco-information {
        margin-top: $com-spacing-6;
        .field {
            margin-top: $com-spacing-6;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
            }
        }
        .toolbar {
            position: absolute;
            right: $zero;
            top: $zero;
            width: $fullwidth;
            border-bottom: 1px solid $dark;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
        span.label-text {
            color: $blak;
            a {
                text-decoration: underline;
            }
        }
        label {
            margin-bottom: $com-spacing-2;
        }
        .form-control {
            background: $white;
            height: 54px;
            &:focus,
            &:hover {
                border: 1px solid $dark;
            }
        }
        input.mobile-number.form-control {
            direction: ltr;
            text-align: $left;
        }
        .custom-file-input {
            display: none;
        }
        .custom-file-label,
        .custom-file-input {
            right: $com-spacing-3;
            width: $fullwidth;
            outline: $zero !important;
            height: 54px;
            border: 1px solid transparent;
            background: $white;
            @include border-radius(8px);
            color: $blak;
        }
        .custom-file-input:focus~.custom-file-label {
            border-color: $dark!important;
        }
        .custom-file-input {}
        .custom-file-label {
            display: flex;
            align-items: center;
            margin: $zero;
            padding-right: 108px;
            box-shadow: none !important;
            outline: 0 !important;
            outline-style: none !important;
            color: $colortext;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 400;
            cursor: pointer;
        }
        .custom-file-input:lang(en)~.custom-file-label::after {
            content: "تحميل الشعار";
            position: absolute;
            right: .75rem;
            background: $none;
            height: 54px;
            border: $zero;
            padding: $zero;
            display: flex;
            align-items: center;
            font-weight: 100;
        }
    }
}

.terms-and-conditions {
    .information {
        margin-bottom: $com-spacing-6;
        &:last-child {
            margin: $zero;
        }
        p {
            line-height: 40px;
            margin-top: $com-spacing-1;
        }
        .bank-table {
            width: 100%;
            border-collapse: collapse;
            background: $white;
            margin-top: $com-spacing-6;
        }
        .bank-table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
            font-size: 15px;
        }
        .bank-table .label {
            background: $dark;
            color: $white;
            width: 30%;
        }
        .bank-table .value {
            direction: ltr;
            text-align: $right;
        }
    }
}

.participants-item {
    .inner {
        position: relative;
        width: $fullwidth;
        background: $white;
        border-radius: 30px;
        overflow: hidden;
        padding: $com-spacing-8 175px $com-spacing-8 $com-spacing-8;
        @media (max-width: 999px) {
            padding: $com-spacing-6;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 128px;
            height: $fullwidth;
            background: url(../images/bg2.png) no-repeat center center/cover;
            @media (max-width: 999px) {
                display: none;
            }
        }
        .minhead {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 767px) {
                display: block;
            }
        }
        .form-control {
            width: 300px;
            border: 1px solid $dark;
            background: #F7F7F7;
            @media (max-width: 767px) {
                width: $fullwidth;
                margin-top: $com-spacing-4;
            }
        }
        table {
            width: $fullwidth;
            margin-top: $com-spacing-4;
        }
        thead {
            background-color: $dark;
            color: $white;
        }
        th,
        td {
            padding: $com-spacing-3;
            font-weight: 500;
        }
        tr:nth-child(even) {
            background-color: #f2f6f5;
        }
        .no-result {
            margin-top: $com-spacing-4;
            color: $red;
            display: none;
            text-align: center;
        }
    }
}