.about__item {
    .inner {
        display: flex;
        align-items: center;
        position: relative;
        width: $fullwidth;
        padding: $com-spacing-6;
        padding-right: 200px;
        border-radius: 15px;
        background: $ofwhite;
        overflow: hidden;
        @media (max-width: 999px) {
            display: block;
            padding-right: $com-spacing-7;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 192px;
            height: $fullwidth;
            background: $dark url(../images/bg.png) no-repeat center center/cover;
            @media (max-width: 999px) {
                width: 22px;
            }
        }
        .photo {
            @include flex;
            min-width: 400px;
            max-width: 400px;
            height: 400px;
            margin-left: $com-spacing-6;
            @media (max-width: 999px) {
                min-width: $fullwidth;
                max-width: $fullwidth;
                height: auto;
                margin: $zero;
                margin-bottom: $com-spacing-6;
            }
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            @media (max-width: 999px) {
                text-align: center;
            }
        }
        p {
            margin-top: $com-spacing-2;
            @media (max-width: 999px) {
                text-align: center;
            }
        }
    }
    &.csu-style {
        .inner {
            padding-right: 200px;
            @media (max-width: 999px) {
                padding-right: $com-spacing-7;
            }
            .subitem {
                width: 50%;
                padding: $zero $com-spacing-8;
                @media (max-width: 999px) {
                    width: $fullwidth;
                    padding: $zero;
                    margin-bottom: $com-spacing-6;
                    &:last-child {
                        margin: $zero;
                    }
                }
                .bold {
                    font-size: 25px;
                    @media (max-width: 999px) {
                        display: block;
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.participating__item {
    background: $white;
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-6;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        position: relative;
        border-radius: 10px;
        padding: $com-spacing-4;
        padding-right: $com-spacing-7;
        background: $white;
        border: 1px solid $dark;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 22px;
            height: $fullwidth;
            background: $dark url(../images/bg.png) no-repeat center center/cover;
        }
        .title {
            font-size: 20px;
            font-weight: 700;
        }
        p {
            margin-top: $com-spacing-1;
        }
    }
}

.sectors__item {
    margin-top: $com-spacing-6;
    background: $white;
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 192px;
        height: $fullwidth;
        background: url(../images/bg2.png) no-repeat center center/cover;
        @media (max-width: 999px) {
            width: 100px;
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-8;
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        &:last-child {
            display: flex;
            align-items: flex-end
        }
        .bottom {
            width: 262px;
            height: 128px;
            background: #F0F3E7;
            color: $dark;
            font-size: 25px;
            font-weight: 700;
            @media (max-width: 767px) {
                width: $fullwidth;
                height: auto;
                font-size: 18px;
            }
            &:hover {
                background: $dark;
                color: $white;
            }
        }
        .icon {
            @include flex;
            height: 105px;
            svg {
                max-width: 105px;
                max-height: 105px;
            }
        }
        .title {
            text-align: center;
            margin-top: $com-spacing-3;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.whyparticipate__item {
    margin-top: $com-spacing-6;
    background: $ofwhite url(../images/whyparticipate.png) no-repeat center center/cover;
    .container {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            display: block;
        }
    }
    .photo {
        @include flex;
        min-width: 550px;
        max-width: 550px;
        height: 550px;
        @media (max-width: 999px) {
            min-width: $fullwidth;
            max-width: $fullwidth;
            height: auto;
            margin-top: $com-spacing-6;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
        }
    }
    .title {
        @media (max-width: 999px) {
            text-align: center;
        }
    }
    p {
        margin-top: $com-spacing-3;
        max-width: 70%;
        @media (max-width: 999px) {
            text-align: center;
            max-width: $fullwidth;
        }
    }
}

.goals__item {
    min-height: 500px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    .photo {
        position: absolute;
        left: $zero;
        top: $zero;
        width: 50%;
        height: $fullwidth;
        overflow: hidden;
        @media (max-width: 999px) {
            position: relative;
            width: $fullwidth;
            height: auto;
            top: auto;
            border-radius: $zero;
            border: $zero;
            text-align: center;
            margin-top: $com-spacing-6;
        }
        img {
            width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 999px) {
                width: initial;
                max-height: $fullwidth;
                max-width: $fullwidth;
            }
        }
    }
    .item {
        max-width: 44%;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
    }
    .title {
        display: flex;
        align-items: center;
        svg {
            margin-left: $com-spacing-2;
            max-width: 80px;
        }
        @media (max-width: 999px) {
            text-align: center;
        }
    }
    .list {
        margin-top: $com-spacing-6;
        li {
            display: flex;
            margin-top: $com-spacing-3;
            svg {
                min-width: 25px;
                max-width: 25px;
                height: 25px;
                margin-left: $com-spacing-2;
            }
        }
    }
}

.about__expo__item {
    min-height: 1000px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    .item {
        max-width: 44%;
        border-right: 1px solid #00423959;
        margin-right: 30px;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
        .flex {
            display: flex;
            margin-bottom: $com-spacing-8;
            svg {
                min-width: 60px;
                max-width: 60px;
                height: 60px;
                background: #F8F8F8;
                padding: $com-spacing-2 $zero;
                margin: $zero -30px $zero $com-spacing-6;
                @media (max-width: 999px) {
                    margin-left: $com-spacing-3;
                }
            }
            &:last-child {
                margin: $zero;
            }
            &:first-child {
                svg {
                    min-width: 128px;
                    max-width: 128px;
                    height: 128px;
                    margin: $zero -64px $zero $com-spacing-6;
                    @media (max-width: 999px) {
                        min-width: 60px;
                        max-width: 60px;
                        height: 60px;
                        margin: $zero -30px $zero $com-spacing-3;
                    }
                }
            }
        }
    }
    .container {
        z-index: 10;
    }
    .photo {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: $zero;
        top: $zero;
        width: $fullwidth;
        height: $fullwidth;
        padding: $com-spacing-8 $zero;
        overflow: hidden;
        @media (max-width: 1199px) {}
        @media (max-width: 999px) {
            // position: relative;
            // width: $fullwidth;
            // height: auto;
            // top: auto;
            // border-radius: $zero;
            // border: $zero;
            // text-align: center;
            // margin-top: $com-spacing-6;
            display: none;
        }
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 1199px) {
                max-width: 60%;
            }
            @media (max-width: 999px) {}
        }
    }
    .title {}
    .list {
        margin-top: $com-spacing-3;
        li {
            display: flex;
            margin-top: $com-spacing-3;
            svg {
                min-width: 25px !important;
                max-width: 25px !important;
                height: 25px !important;
                margin: $zero !important;
                margin-left: $com-spacing-2 !important;
                padding: $zero !important;
            }
        }
    }
}

.participate__expo__item {
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-6;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        position: relative;
        border-radius: 10px;
        padding: $com-spacing-6;
        padding-bottom: $com-spacing-7;
        background: $white;
        border: 1px solid $dark;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: $zero;
            bottom: $zero;
            width: $fullwidth;
            height: 22px;
            background: $dark url(../images/participate.png) no-repeat center center/cover;
        }
        .photo {
            @include flex;
            width: $fullwidth;
            height: 250px;
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
        }
        .title {
            font-size: 26px;
            text-align: center;
            margin-top: $com-spacing-3;
        }
        p {
            margin-top: $com-spacing-1;
            text-align: center;
        }
    }
}